:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 375px;
    height: 812px;
    margin: 0 auto;
    background: #184470;
    overflow: hidden;
    border-radius: 30px;
}
.group {
    position: relative;
    width: 342px;
    height: 84px;
    margin: 44px 0 0 5px;
    z-index: 32;
}
.img {
    position: absolute;
    width: 112px;
    height: 84px;
    top: 0;
    left: 0;
    background: url(./assets/images/5e0379f66179b0a480fad7eaf215f2643ee2c0cc.png)
        no-repeat center;
    background-size: cover;
    z-index: 32;
}
.text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 27px;
    top: 0;
    left: 108px;
    color: #ffffff;
    font-family: Playfair Display, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.66px;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
}
.wrapper {
    position: absolute;
    width: 47px;
    height: 51px;
    top: 22px;
    left: 289px;
}
.pic {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 30px;
    left: 282px;
    background: url(./assets/images/a6a97c20ace05efdcd0aab799dd5236451b68afa.png)
        no-repeat center;
    background-size: cover;
    z-index: 1;
}
.img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 30px;
    left: 318px;
    background: url(./assets/images/cee5f85c2dc3f616a38842b572b3afb6c7e704f2.png)
        no-repeat center;
    background-size: cover;
    z-index: 2;
}
.box {
    position: absolute;
    width: 153px;
    height: 20px;
    top: 35px;
    left: 114px;
    background: rgba(217, 217, 217, 0.5);
    z-index: 4;
}
.text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 126.252px;
    height: 9.474px;
    top: 2.105px;
    left: 6.42px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 9.474px;
    text-align: center;
    white-space: nowrap;
    z-index: 6;
}
.pic-2 {
    position: absolute;
    width: 14.979px;
    height: 14.737px;
    top: 2.105px;
    left: 2.14px;
    background: url(./assets/images/e96085d189bfbcdc40c01591be7796ecfe564e81.png)
        no-repeat center;
    background-size: cover;
    z-index: 5;
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 132px;
    height: 15px;
    margin: -9px 0 0 254px;
    z-index: 9;
}
.text-3 {
    flex-shrink: 0;
    position: relative;
    height: 15px;
    color: #bba4a4;
    font-family: Lateef, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
}
.text-4 {
    flex-shrink: 0;
    position: relative;
    height: 15px;
    color: #bba4a4;
    font-family: Lateef, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}
.group-2 {
    position: relative;
    width: 375px;
    height: 1px;
    margin: 2px 0 0 -1px;
    background: #d9d9d9;
    z-index: 7;
}
.text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 150px;
    height: 27px;
    margin: 4px 0 0 111px;
    color: #ffffff;
    font-family: Playfair Display, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.66px;
    text-align: center;
    white-space: nowrap;
    z-index: 11;
}
.section-2 {
    position: relative;
    width: 381px;
    height: 1px;
    margin: 9px 0 0 2px;
    background: #d9d9d9;
    z-index: 12;
}
.box-2 {
    position: relative;
    width: 361px;
    height: 17px;
    margin: 0 0 0 19px;
    z-index: 20;
}
.text-6 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 64px;
    height: 17px;
    top: 0;
    left: 0;
    color: #ffffff;
    font-family: Playfair Display, var(--default-font-family);
    font-size: 11px;
    font-weight: 400;
    line-height: 14.663px;
    text-align: center;
    white-space: nowrap;
    z-index: 15;
}
.text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 64px;
    height: 17px;
    top: 0;
    left: 89px;
    color: #ffffff;
    font-family: Playfair Display, var(--default-font-family);
    font-size: 11px;
    font-weight: 400;
    line-height: 14.663px;
    text-align: center;
    white-space: nowrap;
    z-index: 16;
}
.text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 64px;
    height: 17px;
    top: 0;
    left: 148px;
    color: #ffffff;
    font-family: Playfair Display, var(--default-font-family);
    font-size: 11px;
    font-weight: 400;
    line-height: 14.663px;
    text-align: center;
    white-space: nowrap;
    z-index: 17;
}
.text-9 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 64px;
    height: 17px;
    top: 0;
    left: 206px;
    color: #ffffff;
    font-family: Playfair Display, var(--default-font-family);
    font-size: 11px;
    font-weight: 400;
    line-height: 14.663px;
    text-align: center;
    white-space: nowrap;
    z-index: 18;
}
.text-a {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 64px;
    height: 17px;
    top: 0;
    left: 248px;
    color: #ffffff;
    font-family: Playfair Display, var(--default-font-family);
    font-size: 11px;
    font-weight: 400;
    line-height: 14.663px;
    text-align: center;
    white-space: nowrap;
    z-index: 19;
}
.text-b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 64px;
    height: 17px;
    top: 0;
    left: 297px;
    color: #ffffff;
    font-family: Playfair Display, var(--default-font-family);
    font-size: 11px;
    font-weight: 400;
    line-height: 14.663px;
    text-align: center;
    white-space: nowrap;
    z-index: 20;
}
.section-3 {
    position: relative;
    width: 381px;
    height: 1px;
    margin: 4px 0 0 -1px;
    background: #d9d9d9;
    z-index: 13;
}
.section-4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 385px;
    height: 10px;
    margin: 20px 0 0 -7px;
    z-index: 24;
}
.text-c {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 124px;
    height: 10px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
    z-index: 21;
}
.section-5 {
    flex-shrink: 0;
    position: relative;
    width: 260px;
    height: 10px;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 24;
}
.text-d {
    position: relative;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 14.832px;
    text-align: left;
}
.text-e {
    position: relative;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 10px;
    font-weight: 700;
    line-height: 14.832px;
    text-align: left;
}
.group-3 {
    position: relative;
    width: 381px;
    height: 1px;
    margin: 20px 0 0 -2px;
    background: #d9d9d9;
    z-index: 14;
}
.box-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 385px;
    height: 10px;
    margin: 15px 0 0 -7px;
    z-index: 25;
}
.text-f {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 124px;
    height: 10px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
    z-index: 22;
}
.group-4 {
    flex-shrink: 0;
    position: relative;
    width: 260px;
    height: 10px;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 10px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 25;
}
.text-10 {
    position: relative;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 14.832px;
    text-align: left;
}
.text-11 {
    position: relative;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 10px;
    font-weight: 700;
    line-height: 14.832px;
    text-align: left;
}
.wrapper-2 {
    position: relative;
    width: 381px;
    height: 1px;
    margin: 16px 0 0 -1px;
    background: #d9d9d9;
    z-index: 26;
}
.group-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 389px;
    height: 25px;
    margin: 8px 0 0 -9px;
    z-index: 31;
}
.text-12 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 124px;
    height: 10px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 13px;
    font-weight: 700;
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
    z-index: 23;
}
.text-13 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 90px;
    height: 25px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 13px;
    font-weight: 700;
    line-height: 16.068px;
    text-align: center;
    z-index: 31;
}
.wrapper-3 {
    position: relative;
    width: 381px;
    height: 1px;
    margin: 8px 0 0 -1px;
    background: #d9d9d9;
    z-index: 27;
}
.box-4 {
    position: relative;
    width: 91px;
    height: 27px;
    margin: 6px 0 0 277px;
    z-index: 30;
}
.group-6 {
    position: absolute;
    width: 91px;
    height: 25px;
    top: 0;
    left: 0;
    background: rgba(217, 217, 217, 0.7);
    z-index: 29;
    border-radius: 30px;
}
.text-14 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 78px;
    height: 24px;
    top: 3px;
    left: 7px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 15px;
    font-weight: 700;
    line-height: 18.54px;
    text-align: center;
    white-space: nowrap;
    z-index: 30;
}
.wrapper-4 {
    position: relative;
    width: 381px;
    height: 1px;
    margin: 4px 0 0 2px;
    background: #d9d9d9;
    z-index: 28;
}
