:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 375px;
    height: 812px;
    margin: 0 auto;
    background: #184470;
    overflow: hidden;
    border-radius: 30px;
}
.box {
    position: relative;
    width: 381px;
    height: 90px;
    margin: 41px 0 0 6px;
    z-index: 11;
}
.text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 150px;
    height: 27px;
    top: 0;
    left: 108px;
    color: #ffffff;
    font-family: Playfair Display, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.66px;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
}
.img {
    position: absolute;
    width: 112px;
    height: 84px;
    top: 2px;
    left: 0;
    background: url(./assets/images/5e0379f66179b0a480fad7eaf215f2643ee2c0cc.png)
        no-repeat center;
    background-size: cover;
    z-index: 11;
}
.wrapper {
    position: absolute;
    width: 47px;
    height: 51px;
    top: 22px;
    left: 289px;
}
.pic {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 30px;
    left: 282px;
    background: url(./assets/images/a6a97c20ace05efdcd0aab799dd5236451b68afa.png)
        no-repeat center;
    background-size: cover;
    z-index: 1;
}
.img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 30px;
    left: 318px;
    background: url(./assets/images/cee5f85c2dc3f616a38842b572b3afb6c7e704f2.png)
        no-repeat center;
    background-size: cover;
    z-index: 2;
}
.section {
    position: absolute;
    width: 153px;
    height: 20px;
    top: 35px;
    left: 114px;
    background: rgba(217, 217, 217, 0.5);
    z-index: 4;
}
.text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 126.252px;
    height: 9.474px;
    top: 2.105px;
    left: 6.42px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 9.474px;
    text-align: center;
    white-space: nowrap;
    z-index: 6;
}
.pic-2 {
    position: absolute;
    width: 14.979px;
    height: 14.737px;
    top: 2.105px;
    left: 2.14px;
    background: url(./assets/images/e96085d189bfbcdc40c01591be7796ecfe564e81.png)
        no-repeat center;
    background-size: cover;
    z-index: 5;
}
.text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 75px;
    left: 249px;
    color: #bba4a4;
    font-family: Lateef, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
}
.text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 15px;
    top: 75px;
    left: 290px;
    color: #bba4a4;
    font-family: Lateef, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
}
.wrapper-2 {
    position: relative;
    width: 375px;
    height: 1px;
    margin: 2px 0 0 0;
    background: #d9d9d9;
    z-index: 7;
}
.box-2 {
    position: relative;
    width: 331px;
    height: 101px;
    margin: 14px 0 0 20px;
    z-index: 24;
}
.img-3 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 239px;
    background: url(./assets/images/d6ec754cc40e9bcc17aa8e61f5955f2b74418b21.png)
        no-repeat center;
    background-size: cover;
    z-index: 15;
}
.text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 16px;
    top: 6px;
    left: 266px;
    color: #000000;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
}
.pic-3 {
    position: absolute;
    width: 76px;
    height: 84px;
    top: 11px;
    left: 0;
    background: url(./assets/images/9c4f5181-b4ea-42cb-bd03-72c592517f4f.png)
        no-repeat center;
    background-size: cover;
    z-index: 12;
}
.group {
    position: absolute;
    width: 130px;
    height: 29px;
    top: 30px;
    left: 86px;
    background: rgba(250, 253, 255, 0.04000000000000001);
    z-index: 13;
}
.img-4 {
    position: absolute;
    width: 24px;
    height: 22.8px;
    top: 35px;
    left: 241px;
    background: url(./assets/images/2832b3e203a0e3fa6324c52fd149245f86761adc.png)
        no-repeat center;
    background-size: cover;
    z-index: 18;
}
.text-6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 127px;
    height: 23px;
    top: 37px;
    left: 94px;
    color: #0e0000;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 10px;
    font-weight: 700;
    line-height: 12.36px;
    text-align: left;
    z-index: 14;
}
.text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 16px;
    top: 38px;
    left: 277px;
    color: #000000;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
}
.pic-4 {
    position: absolute;
    width: 28px;
    height: 38px;
    top: 63px;
    left: 236px;
    background: url(./assets/images/da0dd7fad34367dfca772262d06ffe4058934df9.png)
        no-repeat center;
    background-size: cover;
    z-index: 24;
}
.text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 16px;
    top: 71px;
    left: 275px;
    color: #000000;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
}
.text-9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 16px;
    top: 71px;
    left: 275px;
    color: #000000;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    white-space: nowrap;
    z-index: 21;
}
.wrapper-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 126px;
    height: 24px;
    margin: 6px 0 0 130px;
    z-index: 26;
}
.pic-5 {
    flex-shrink: 0;
    position: relative;
    width: 24px;
    height: 24px;
    background: url(./assets/images/d6ec754cc40e9bcc17aa8e61f5955f2b74418b21.png)
        no-repeat center;
    background-size: cover;
    z-index: 23;
}
.text-a {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 101px;
    height: 15px;
    color: black#030303;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 26;
}
.group-2 {
    position: relative;
    width: 375px;
    height: 15px;
    margin: 3px 0 0 6px;
    z-index: 28;
}
.text-b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 184px;
    height: 15px;
    top: 0;
    left: 0;
    color: #fff8f8;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 27;
}
.text-c {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 191px;
    height: 15px;
    top: 0;
    left: 184px;
    color: #fff8f8;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 28;
}
.group-3 {
    position: relative;
    width: 317px;
    height: 30px;
    margin: 21px 0 0 33px;
    z-index: 33;
}
.box-3 {
    position: absolute;
    width: 144px;
    height: 30px;
    top: 0;
    left: 46px;
    z-index: 25;
}
.text-d {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 154px;
    height: 15px;
    top: 9px;
    left: 0;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 31;
}
.text-e {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 109px;
    height: 15px;
    top: 9px;
    left: 208px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 33;
}
.wrapper-4 {
    position: relative;
    width: 348px;
    height: 24px;
    margin: -1px 0 0 26px;
    z-index: 32;
}
.text-f {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 154px;
    height: 15px;
    top: 0;
    left: 7px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 30;
}
.text-10 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 101px;
    height: 15px;
    top: 0;
    left: 215px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 32;
}
.wrapper-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 308px;
    height: 15px;
    margin: -4px 0 0 33px;
    z-index: 35;
}
.text-11 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 154px;
    height: 15px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 34;
}
.text-12 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 100px;
    height: 15px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 35;
}
.section-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 301px;
    height: 15px;
    margin: 5px 0 0 33px;
    z-index: 38;
}
.text-13 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 154px;
    height: 15px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 37;
}
.text-14 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 93px;
    height: 15px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 38;
}
.box-4 {
    position: relative;
    width: 348px;
    height: 27px;
    margin: -7px 0 0 26px;
    z-index: 48;
}
.wrapper-6 {
    position: absolute;
    width: 348px;
    height: 24px;
    top: 0;
    left: 0;
    z-index: 36;
}
.text-15 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 154px;
    height: 15px;
    top: 12px;
    left: 7px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 40;
}
.text-16 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 88px;
    height: 15px;
    top: 12px;
    left: 215px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 48;
}
.section-3 {
    position: relative;
    width: 348px;
    height: 24px;
    margin: -4px 0 0 26px;
    z-index: 47;
}
.text-17 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 88px;
    height: 15px;
    top: 8px;
    left: 217px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 41;
}
.text-18 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 154px;
    height: 15px;
    top: 9px;
    left: 7px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 47;
}
.wrapper-7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 329px;
    height: 24px;
    margin: -1px 0 0 22px;
    background: rgba(0, 0, 0, 0.04000000000000001);
    z-index: 50;
}
.text-19 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 154px;
    height: 15px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 50;
}
.text-1a {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 104px;
    height: 15px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 45;
}
.group-4 {
    position: relative;
    width: 348px;
    height: 24px;
    margin: 1px 0 0 26px;
    z-index: 54;
}
.text-1b {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 154px;
    height: 15px;
    top: 1px;
    left: 7px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 46;
}
.text-1c {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 97px;
    height: 15px;
    top: 1px;
    left: 215px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 54;
}
.box-5 {
    position: relative;
    width: 348px;
    height: 26px;
    margin: -3px 0 0 26px;
    z-index: 58;
}
.text-1d {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 154px;
    height: 15px;
    top: 0;
    left: 7px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 51;
}
.text-1e {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 97px;
    height: 15px;
    top: 0;
    left: 215px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 58;
}
.wrapper-8 {
    position: absolute;
    width: 348px;
    height: 24px;
    top: 2px;
    left: 0;
    z-index: 44;
}
.box-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 296px;
    height: 15px;
    margin: -6px 0 0 33px;
    z-index: 57;
}
.text-1f {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 154px;
    height: 15px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 53;
}
.text-20 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 88px;
    height: 15px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 57;
}
.section-4 {
    position: relative;
    width: 348px;
    height: 24px;
    margin: -5px 0 0 26px;
    z-index: 55;
}
.text-21 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 154px;
    height: 15px;
    top: 10px;
    left: 7px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 52;
}
.text-22 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    width: 104px;
    height: 15px;
    top: 10px;
    left: 215px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 55;
}
.group-5 {
    position: relative;
    width: 40px;
    height: 19px;
    margin: -3px 0 0 57px;
    background: rgba(217, 217, 217, 0.02);
    z-index: 16;
}
.box-7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 312px;
    height: 15px;
    margin: -10px 0 0 33px;
    z-index: 59;
}
.text-23 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 154px;
    height: 15px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 59;
}
.text-24 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 104px;
    height: 15px;
    color: #ffffff;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 14.832px;
    text-align: center;
    white-space: nowrap;
    z-index: 56;
}
.group-6 {
    position: relative;
    width: 61px;
    height: 19px;
    margin: 17px 0 0 121px;
    background: rgba(217, 217, 217, 0);
    z-index: 17;
}
.box-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 126px;
    height: 28px;
    margin: 32px 0 0 213px;
    background: rgba(113, 167, 58, 0.71);
    z-index: 61;
    border-radius: 20px;
}
.text-25 {
    flex-shrink: 0;
    position: relative;
    height: 15px;
    color: #fff8f8;
    font-family: Old Standard TT, var(--default-font-family);
    font-size: 12px;
    font-weight: 700;
    line-height: 14.832px;
    text-align: left;
    white-space: nowrap;
    z-index: 61;
}
